.input-box[b-djmbjn8m2w] {
    display: flex; 
    flex-direction: column; 
    background: white;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    margin-top: 0.75rem; 
}

    .input-box:focus-within[b-djmbjn8m2w] {
        outline: 2px solid #4152d5;
    }

textarea[b-djmbjn8m2w] {
    resize: none;
    border: none;
    outline: none;
    flex-grow: 1;
}

    textarea:placeholder-shown + .tools[b-djmbjn8m2w] {
        --send-button-color: #aaa;
    }

.tools[b-djmbjn8m2w] {
    display: flex; 
    margin-top: 1rem; 
    align-items: center;
}

.tool-icon[b-djmbjn8m2w] {
    width: 1.25rem;
    height: 1.25rem;
}

.send-button[b-djmbjn8m2w] {
    color: var(--send-button-color);
    margin-left: auto;
}

    .send-button:hover[b-djmbjn8m2w] {
        color: black;
    }

.attach[b-djmbjn8m2w] {
    background-color: white;
    border-style: dashed;
    color: #888;
    border-color: #888;
    padding: 3px 8px;
}

    .attach:hover[b-djmbjn8m2w] {
        background-color: #f0f0f0;
        color: black;
    }
