.user-message[b-i2o3znq01m] {
    background: rgb(182 215 232);
    align-self: flex-end;
    min-width: 25%;
    max-width: calc(100% - 5rem);
    padding: 0.5rem 1.25rem;
    border-radius: 0.25rem; 
    color: #1F2937; 
    white-space: pre-wrap; 
}

.assistant-message[b-i2o3znq01m], .assistant-search[b-i2o3znq01m] {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 2rem minmax(0, 1fr);
    gap: 0.25rem; 
}

.assistant-message-header[b-i2o3znq01m] {
    font-weight: 600;
}

.assistant-message-text[b-i2o3znq01m] {
    grid-column-start: 2;
}

.assistant-message-icon[b-i2o3znq01m] {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 9999px; 
    width: 1.5rem; 
    height: 1.5rem; 
    color: #ffffff; 
    background: #9b72ce;
}

    .assistant-message-icon svg[b-i2o3znq01m] {
        width: 1rem; 
        height: 1rem; 
    }

.assistant-search[b-i2o3znq01m] {
    font-size: 0.875rem;
    line-height: 1.25rem; 
}

.assistant-search-icon[b-i2o3znq01m] {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 1.5rem; 
    height: 1.5rem; 
}

    .assistant-search-icon svg[b-i2o3znq01m] {
        width: 1rem; 
        height: 1rem; 
    }

.assistant-search-content[b-i2o3znq01m] {
    align-content: center;
}

.assistant-search-phrase[b-i2o3znq01m] {
    font-weight: 600;
}

/* Default styling for markdown-formatted assistant messages */
[b-i2o3znq01m] ul {
    list-style-type: disc;
    margin-left: 1.5rem;
}

[b-i2o3znq01m] ol {
    list-style-type: decimal;
    margin-left: 1.5rem;
}

[b-i2o3znq01m] li {
    margin: 0.5rem 0;
}

[b-i2o3znq01m] strong {
    font-weight: 600;
}

[b-i2o3znq01m] h3 {
    margin: 1rem 0;
    font-weight: 600;
}

[b-i2o3znq01m] p + p {
    margin-top: 1rem;
}

[b-i2o3znq01m] table {
    margin: 1rem 0;
}

[b-i2o3znq01m] th {
    text-align: left;
    border-bottom: 1px solid silver;
}

[b-i2o3znq01m] th, [b-i2o3znq01m] td {
    padding: 0.1rem 0.5rem;
}

[b-i2o3znq01m] th, [b-i2o3znq01m] tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

[b-i2o3znq01m] pre > code {
    background-color: white;
    display: block;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    overflow-x: auto;
}
